/* Establece la imagen de fondo para todo el contenedor */
.login-container {
    background-image: url('./../img/signin.svg'); /* Ruta de la imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative;
    z-index: 1; /* Esto asegurará que el fondo esté detrás del contenido */
  }
  
  .card {
    z-index: 2; /* Establece que el formulario esté por encima del fondo */
    position: relative;
  }